
<nav class="navbar  mytheme navbar-dark">
  <div class="container-fluid">
    <%= link_to "ToDo-App", root_path, class:"navbar-brand"%>
    <div class="d-flex " role="input">
        <%= render 'form_index' %>
    </div>
  </div>
</nav>