
<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    
  <% end %>
</div>

<%= link_to 'Delete Marked Items', home_trash_em_path,class: 'btn btn-secondary btn-sm', data: { confirm: 'Are you sure?' } %> 
<%= link_to 'Delete All Items', home_trash_em_all_path, class: 'btn mytheme px-2 btn-sm',data: { confirm: 'Are you sure?' } %> 
